@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html {
  font-family: 'Open Sans', sans-serif;
}

@media (max-width: 300px) {
  body {
    /* background-image: url('../images/background-xs.png'); */
    background-size: cover;
    background-attachment: fixed;
  }
}
@media (min-width: 301px) and (max-width: 600px) {
  body {
    /* background-image: url('../images/background-xs.png'); */
    background-size: cover;
    background-attachment: fixed;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  body {
    /* background-image: url('../images/background.png'); */
    background-size: cover;
    background-attachment: fixed;
  }
}

@media (min-width: 769px) {
  body {
    /* background-image: url('../images/background.png'); */
    background-size: cover;
    background-attachment: fixed;
  }
}

.navbar {
  background-color: #000;
}

.navbar > ul {
  display: flex;
  list-style-type: none;
  justify-content:flex-start;
  margin: 0;
  padding: 0;
}

 .navbar > ul > li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
  padding-left:1.5em;
  padding-right: 1.5em;
  color: #fff;
 }

 .navbar > ul > li:hover {
  background-color: #fff;
  color: #000;
 }

 .navbar > ul > li:hover > a {
  background-color: #fff;
  color: #000;
 }

 .navbar > ul > li > a {
  text-decoration: none;
  color: #fff;
 }

@media (max-width: 768px) {
  .navbar > ul { 
   display:none;
   position: absolute;
   right: 0;
   left: 0;
   text-align: center;
  }
}

label .menu-mobile {
  position: absolute;
  left: -100px;
  top: -100px;
  z-index: 100;
  width: 200px;
  height: 200px;
  background: #FFF;
  border-radius: 50% 50% 50% 50%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
  cursor: pointer;  
}

label .hamburger {
  position: absolute;
  top: 135px;
  right: 50px;
  width: 30px;
  height: 2px;
  background: #000;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

label .hamburger:after, label .hamburger:before {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
}

label .hamburger:before { top: -10px; }

label .hamburger:after { bottom: -10px; }

label input { display: none; }

label input:checked + .menu-mobile {
  box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
  border-radius: 0;
  
}

label input:checked + .menu-mobile .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  
}

label input:checked + .menu-mobile .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
  
}

label input:checked + .menu-mobile .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
  
}

label input:checked + .menu-mobile + ul { opacity: 1; }

label ul {
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: .25s 0s ease-in-out;
  transition: .25s 0s ease-in-out;
}

label a {
  margin-bottom: 1em;
  display: block;
  color: #f38630;
  text-decoration: none;
  
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10em;
  background-color: deeppink;
}